echo "# sgo.sit73.ru" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/tangy-depyh1/sgo.sit73.ru.git
git push -u origin main
