html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, .header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  article, aside, details, figcaption, figure, footer, .header, hgroup, menu, nav, section { display: block; }
  ol, ul { list-style: none; }
  
  blockquote, q { quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
  strong { font-weight: bold; } 
  table { border-collapse: collapse; border-spacing: 0; }
  img { border: 0; max-width: 100%; }
  
  *, body {
      font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
  }
  html, body {
    height: 100%;
  }
  body {
    min-width: 580px;
  }
  .container {
    min-height: 770px;
    height: 100%;
    position: relative;
    
  }
  .content {
      padding-bottom: 60px;
      position: relative;
  }
  .top {
    position: relative;
    height: 77px;
    line-height: 75px;
    background: #1e66a2;
    padding-right: 70px;
    text-align: right;
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
  }
  .top a {
    color: #aebdcc !important;
  }
  .logo {
      position: relative;
      width: 220px;
      height: 220px;
      margin: 15px auto;
      background: url(../img/esiasprite.png) 6px 7px no-repeat;
  }
  .header {
      color: #1e66a2;
      text-align: center;
      font-size: 32px;
      margin-bottom: 30px;
  }
  div.button { 
    text-align: center;
  }
  a.button {
      display: block;
      width: 300px;
      height: 45px;
      margin: 5px auto;
      background: url(../img/esiasprite.png) -208px -159px no-repeat;
      border-radius: 5px;
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      padding: 12px 0 10px 70px;
      text-align: left;
  }
  a.button:nth-child(1){
    background-color: #1e66a2;
  }
  a.button:nth-child(2){
    background-color: #517796;
  }
  a.button:nth-child(3) {
      background-color: #da4848;
  }
  a.button:nth-child(1):hover{
    background-color: #19578a;
  }
  a.button:nth-child(2):hover{
    background-color: #426079;
  }
  a.button:nth-child(3):hover {
      background-color: #b93434;
  }
  .text {
    text-align: center;
  }
  .alter {
    color: #da3737;
  }
  .mfc {
    color: #8395a3;
  }
  .mfc a {
    color: #6e7d8c !important;
  }
  .mfc, .alter {
    font-family: 'Ubuntu', sans-serif;
     font-weight: 600;
     font-size: 13px;
    margin-top: 30px;
  }
  .footer {
    margin: 0px auto 0;
    max-width: 950px;
  }
     
  .footer a {
      height: 75px;
      display: inline-block;
      width: 30%;
      
      font-size: 12px;
      color: #8395a3;
      text-decoration: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  .footer a:nth-child(1){
    width: 26%;
  }
  .footer a:nth-child(1){
      background: url(../img/logo/iroban2.png) no-repeat;
      width: 300px;
      height: 75px;
  
  }
  .footer a:nth-child(2) {
   background: url(../img/esiasprite.png) -203px -87px no-repeat;
    width: 255px;
      height: 75px;
      padding-left: 97px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 20px;
  }
  .footer a:nth-child(3) {
    background: url(../img/logo/moban2.png) no-repeat;
      width: 300px;
      height: 75px;
  }
  
  .top.flex,.footer.flex{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
          padding-right: 0;
  }
  .top.flex .sgo{
      width: 60px;
      height: 62px;
      background: url(../img/esiasprite.png) -222px -17px no-repeat;
  }
  .top.flex > div{
     font-size: 25px;
      line-height: 1.14;
      text-align: left;
      margin-left: 20px; 
  }
  .top.flex > div >span{
      display: inline;
  }
  .footer.flex{
     -ms-flex-pack: distribute;
     justify-content: space-around; 
  }
  .pdf_container{
      padding-top: 25px;
  }
  .pdf_container .ico {
    display: block;
    width: 45px;
    height: 61px;
    float: left;
    background: url(../img/esiasprite.png)  0 -226px no-repeat;
    margin-right: 17px;
  }.pdf_container .pdf{
    font-weight: 400;
    display: block;
    position: relative;
    margin: 0px auto 0;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
    text-decoration: none !important;
    overflow: hidden;
    width: 305px;}
  .pdf_container .pdf-text {
    margin-top: 11px;
  }
  .pdf_container .pdf-text br {
  }
  .pdf_container .pdf-text a {
    color: #0173C1 ;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    margin-top: 7px;
    
  }
  .pdf_container .pdf-text a:hover{
  color: #4ba8e8;
  }
  .pdf_container .pdf-text a+a{
  margin-left: 10px;
  }
  
  
  
  
  @media screen and (max-width: 900px) {
      .footer.flex{
          display: block;
      }
      .footer.flex a{
          display: block;
          margin: 5px auto;
      }
     
  }